<h1 style='color: green'>A new rent was created!</h1>

<p>
  <h2>Dear customer <b style='color: blue'><%= "#{@rent.user.first_name} #{@rent.user.last_name}" %>,</b></h2>
  <br>
  Your rent of the book <b><%= @rent.book.title %></b> has been created at <b><%= @rent.created_at %></b>
  <br>
  <br>
  Here is the data of your book rented:<br>
  <b>Title:</b> <%= @rent.book.title %><br>
  <b>Genre:</b> <%= @rent.book.genre %><br>
  <b>Author:</b> <%= @rent.book.author %><br>
  <b>Publisher:</b> <%= @rent.book.publisher %><br>
  <b>Year:</b> <%= @rent.book.year %><br>
  <br><br>
  The rent will be available from <b><%= @rent.from %></b> to <b><%= @rent.to %></b>
</p>
