<h1 style='color: green'><%= t :title %></h1>

<p>
  <h2><%= t :greetings %> <b style='color: blue'><%= "#{@rent.user.first_name} #{@rent.user.last_name}" %>,</b></h2>
  <br>
  <%= t :information %> <b><%= @rent.book.title %></b> <%= t :has_been_created %> <b><%= @rent.created_at %></b>
  <br>
  <br>
  <%= t :book_summary %><br>
  <b><%= t :book_title %></b> <%= @rent.book.title %><br>
  <b><%= t :genre %></b> <%= @rent.book.genre %><br>
  <b><%= t :author %></b> <%= @rent.book.author %><br>
  <b><%= t :publisher %></b> <%= @rent.book.publisher %><br>
  <b><%= t :year %></b> <%= @rent.book.year %><br>
  <br><br>
  <%= t :rent_available %> <b><%= @rent.from %></b> - <b><%= @rent.to %></b>
</p>
